@media screen and (max-width: 1185px) {
	/* CONTENT */
	.content {
		flex-direction: column;
	}

	.content__aside {
		flex: 0 1 auto;
		order: -1;
	}

	.content__aside > * {
		max-width: 820px;
		margin: 0 auto;
	}

	/* TEACHER-BIG */
	.teachers__item {
		margin: 0 auto 20px auto;
	}

	.teacher-big {
		padding: 20px;
	}

	/* TEACHER-PROFILE */
	.teacher-profile {
		margin: 0 auto;
	}
}

@media screen and (max-width: 1150px) {
	/* SIGN */
	.sign__bg {
		display: none;
	}
}

@media screen and (max-width: 790px) {
	/* TEACHER-FULL */
	.teacher-full {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 750px) {
	/* TEACHER-BIG */
	.teacher-big {
		flex-direction: column;
		align-items: center;
	}

	.teacher-big__container {
		width: 100%;
	}

	.teacher-big__container--flex {
		flex: 0 0 auto;
	}
}

@media screen and (max-width: 700px) {
	/* HEADER */
	.header {
		padding: 22px 10px;
	}

	/* GRID */
	.container {
		padding: 20px 10px;
	}
}

@media screen and (max-width: 670px) {
	/* FORM */
	.form__fieldset--flex {
		flex-direction: column;
	}
}

@media screen and (max-width: 650px) {
	/* SUBJECT */
	.subject__user {
		gap: 10px;
	}
}

@media screen and (max-width: 600px) {
	/* TEACHER-FULL */
	.teacher-full__summary {
		flex-direction: column;
		gap: 20px;
	}
}

@media screen and (max-width: 520px) {
	/* SUBJECT */
	.subject__users {
		flex-direction: column;
	}

	.subject__user {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	/* SIGN */
	.sign__info {
		padding: 20px;
	}
}

@media screen and (max-width: 460px) {
	/* HEADER */
	.header__ul,
	.header__nav {
		gap: 20px;
	}

	/* SUBJECTLIST */
	.subjects-list {
		justify-content: center;
	}
}

@media screen and (max-width: 450px) {
	/* TEACHER-FULL */
	.teacher-full__subject {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}

@media screen and (max-width: 420px) {
	/* TEACHER-FULL */
	.teacher-full__review {
		flex-direction: column;
	}
}

@media screen and (max-width: 380px) {
	/* EDIT-FORM */
	.edit-form--big {
		padding: 20px;
	}
}

@media screen and (max-width: 375px) {
	/* HEADER */
	.header__menu {
		left: 0;
		width: max-content;
	}
}
