*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--main-text: #000000;
	--secondary-text: #505050;
	--accent-color: #0070ff;
	--red-color: rgb(255, 66, 66);

	--main-bg: #f7f8fa;
	--secondary-bg: #ffffff;
	--lp-main-bg: #ffffff;
	--lp-secondary-bg: #e3e6ea;

	--borders: #e8e8e8;

	--main-message: rgba(0, 112, 255, 0.3);
	--secondary-message: #ececf3;

	--radius: 5px;
	--outline: 0 0 0 4px rgba(0, 96, 223, 0.3);
	--shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}
