.btn {
	background-color: var(--accent-color);
	padding: 8px 10px;
	font-size: 16px;
	color: #ffffff;
	border-radius: var(--radius);
	border-style: none;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

.btn--red {
	background-color: var(--red-color);
}

.btn--transparent {
	background-color: transparent;
	border: 1px solid var(--accent-color);
	color: var(--main-text);
}

.btn--rotate {
	transform: rotate(180deg);
}

.btn:hover {
	box-shadow: var(--shadow);
}
