.edit-form {
	background-color: var(--secondary-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	max-width: 820px;
	margin: 0 auto;
}

.edit-form--big {
	padding: 20px 60px;
}

.edit-form--little {
	padding: 20px;
}
