.schedule__row {
	display: grid;
	grid-template-columns: 100px repeat(7, 36px);
	gap: 2px;
	margin-bottom: 2px;
}

.schedule__time {
	display: flex;
	align-items: center;
	background-color: var(--event-block);
	padding-left: 5px;
}

.schedule__cell {
	background-color: var(--schedule-cell);
	height: 42px;
}

.schedule__cell--active {
	background-color: var(--highlight-cell);
}
