.subjects-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
}

.subjects-list__item {
	height: 100px;
	flex: 0 1 200px;
	text-align: center;
	line-height: 100px;
	border-radius: var(--radius);
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

.subjects-list__item:hover {
	box-shadow: var(--shadow);
}
