pre {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.teacher-full {
	display: flex;
	gap: 20px;
	max-width: 820px;
	padding: 20px;
	background-color: var(--secondary-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.teacher-full__avatar {
	flex: 1 0 auto;
	max-width: 100px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.teacher-full__avatar--min {
	height: 50px;
	max-width: 50px;
	width: 50px;
}

.teacher-full__container--flex {
	flex: 1 1 auto;
	width: 100%;
}

.teacher-full__name {
	font-size: 20px;
	margin: 0;
}

.teacher-full__name,
.teacher-full__discipline,
.teacher-full__disciple,
.teacher-full__count {
	margin-bottom: 10px;
}

.teacher-full__disciple,
.teacher-full__count {
	display: inline-block;
	margin-right: 20px;
}

.teacher-full__rating {
	display: inline-block;
	margin-bottom: 10px;
}

.teacher-full__desc {
	margin: 0;
	margin-bottom: 20px;
}

.teacher-full__desc--nonemb {
	margin-bottom: 0;
}

.teacher-full__summary {
	display: flex;
	gap: 40px;
	margin-bottom: 20px;
}

.teacher-full__title {
	position: relative;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 10px;
}

.teacher-full__title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--accent-color);
}

.teacher-full__work {
	line-height: 22px;
}

.teacher-full__mini-title {
	margin-bottom: 10px;
}

.teacher-full__subject {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--radius);
	border: 1px solid var(--borders);
	padding: 10px 20px;
	margin-bottom: 10px;
}

.teacher-full__subject:last-child {
	margin-bottom: 20px;
}

.teacher-full__lessons {
	color: var(--secondary-text);
}

.teacher-full__review {
	position: relative;
	display: flex;
	gap: 20px;
	padding: 20px;
	border-radius: var(--radius);
	border: 1px solid var(--borders);
	margin-bottom: 20px;
}

.teacher-full__review:last-child {
	margin-bottom: 0;
}

.teacher-full__review-del {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

.teacher-full__reviews-count {
	margin-left: 10px;
}
