.teacher-big {
	display: flex;
	gap: 20px;
	width: 100%;
	padding: 20px 20px 40px 20px;
	background-color: var(--secondary-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.teacher-big__avatar {
	flex: 1 0 auto;
	max-width: 80px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

.teacher-big__container {
	flex: 1 1 auto;
}

.teacher-big__container--flex {
	flex: 0 0 auto;
}

.teacher-big__name {
	font-size: 20px;
	margin: 0;
}

.teacher-big__name,
.teacher-big__subject,
.teacher-big__disciple,
.teacher-big__count {
	margin-bottom: 10px;
}

.teacher-big__disciple,
.teacher-big__count {
	display: inline-block;
}

.teacher-big__disciple {
	margin-right: 20px;
}

.teacher-big__rating,
.teacher-big__revie {
	display: inline-block;
	margin-bottom: 10px;
}

.teacher-big__rating {
	margin-right: 10px;
}

.teacher-big__price {
	margin-bottom: 20px;
}

.teacher-big__btn {
	display: block;
	margin-bottom: 10px;
}

.teacher-big__btn:last-child {
	margin-bottom: 0;
}
