.teacher-profile {
	max-width: 820px;
}

.teacher-profile__form {
	width: 100%;
	background-color: var(--secondary-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	padding: 10px 20px;
	margin-bottom: 20px;
}

.teacher-profile__form label {
	font-size: 16px;
}

.teacher-profile__form input {
	font-size: 14px;
}

.teacher-profile__subject {
	margin-bottom: 20px;
}
